<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/teams" method="post">
        <fieldset>
            <legend>Add a Team</legend>
            <label>
                Team: <input type="text" name="teamName" placeholder="Enter Team Name"/>
            </label>
            <br>
            <label>
                City: <input type="text" name="city" placeholder="Enter City Here"/>
            </label>
            <br>
            <label>
                State: <input type="text" name="state" placeholder="Enter State Here"/>
            </label>
            <br>
            <label>
                Year Founded: <input type="number" name="yearCreated" placeholder="Year Founded"/>
            </label>
            <br>
            <label>
                Sport: <input type="text" name="sport" placeholder=""/>
            </label>
            <br>
            <label>
                Submited By: <input type="text" name="submitedBy" placeholder="Your Name"/>
            </label>
        </fieldset>
        <input type="submit" value="Add Your Team"/>
    </form>
</body>
</html>